extends ../layout/index

block contenido                    
    p.uppercase.font-bold.mt-3 Skill Up and go to the next level 
    h2.mt-5.text-2xl For 
        span.font-extrabold #{type}
    .py-10 
        h2.text-center.text-4xl.font-extrabold.text-green-500.mt-0= pagina

        p.text-xl.font-bold.text-center.my-10= message