extends ../layout/index

block contenido
    .py-10 
        h2.text-center.text-4xl.font-extrabold.text-green-500= pagina

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(action="").space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="fullname") Your Name
                        input#fullName.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Write your name" type="text" name="fullName") 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") SignUp Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Write your email" type="email" name="email") 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="education") Your Education
                        input#education.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Wtite your University" type="text" name="education") 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="cv") Your Resume
                        input#cv.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400( type="file" name="cv")
                    
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="profileImage") Profile Image
                        input#profileImage.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400( type="file" name="profileImage")
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Your Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Write your Password" type="password" name="password")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repetir-password") Repeat Password
                        input#repetir-password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repeat your Password" type="password" name="repetir-password") 
                    .flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href="/student/login") Already have an account? SignIn
                        a.text-gray-500.text-xs(href="/student/olvide-password") Forgotten Password?
                    input(type="submit" value="SignUp" class="w-full bg-green-500 text-white uppercase hover:bg-green-700 font-bold py-3 cursor-pointer rounded-md")