extends ../layout/index

block contenido
    h2.mt-5.text-2xl For 
        span.font-extrabold #{type}
    .py-10 
        h2.text-center.text-4xl.font-extrabold.text-green-500= pagina

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(action="").space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="name") Company Name
                        input#name.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Write your company name" type="text" name="name") 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") SignUp Email
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Write your company email" type="email" name="email") 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="rfc") RFC
                        input#rfc.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Wtite your RFC" type="text" name="rfc") 
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="address") Your Address
                        input#address.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400( type="text" name="address" placeholder="Write you company address")
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="description") Description 
                        input#description.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Description of the company" type="text" name="description")              
                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Your Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Write your Password" type="password" name="password")

                    div 
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repetir-password") Repeat Password
                        input#repetir-password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repeat your Password" type="password" name="repetir-password") 
                    .flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href=`/${type}/login`) Already have an account? SignIn
                        a.text-gray-500.text-xs(href=`/${type}/forgot-password`) Forgotten Password?
                    input(type="submit" value="SignUp" class="w-full bg-green-500 text-white uppercase hover:bg-green-700 font-bold py-3 cursor-pointer rounded-md")