extends ../layout/indexInCompanies
block contenido

.mb-3.pb-3
    h1.text-center.text-4xl.font-bold Dash
      span.font-normal Board
.container.pt-2
    div(class="grid gap-4 grid-cols-3 mt-5 pt-10")
      #offers-section(style="overflow-y: scroll; height: 500px;" class="flex flex-col flex-nowrap justify-between items-stretch overflow-x-auto col-span-1")
      .description-section(class="col-span-2")