extends ./index
block contenido                    
    p.uppercase.font-bold.mt-3.mb-5 Skill Up and go to the next level
    .mt-10.mx-auto.max-w-md
        .py-10.px-4
            a(href="/student/login") 
                input(value="SkillUp for Students" class="w-full bg-green-500 text-white uppercase hover:bg-green-700 font-bold py-3 cursor-pointer rounded-md text-center mb-8")
            a(href="/company/login") 
                input(value="SkillUp for Companies" class="w-full bg-green-500 text-white uppercase hover:bg-green-700 font-bold py-3 cursor-pointer rounded-md text-center")